* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
#menu {
  /* border: 1px solid red; */
  width: 250px;
  line-height: 50px;
}
#outer {
  /* border: 1px solid blue; */
 padding-top: 30px;
  width: 80%;
  display: flex;
  margin: auto;
}
#container {
  /* border: 1px solid red; */
  margin-top: 30px;
  margin-left: 60px;
  width: 80%;
  /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
h5:hover {
  cursor: pointer;
  text-decoration: underline;
}
h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
h6:hover {
  cursor: pointer;
  text-decoration: underline;
}
p:hover {
  cursor: pointer;
  text-decoration: underline;
}
img {
  max-width: 100%;
}
img:hover {
  cursor: pointer;
  text-decoration: underline;
}
