
*{
    font-family: Helvetica;
    margin: 0px;
}
#fragranceBody{
    width: 90%;
    margin: auto;
}
hr{
    height: 1px;
    background-color: rgb(226, 221, 221);
    border: none;
}
#Container{
    margin-left: 5%;
    display: flex;
    font-size: 14px;
}

#Container>div{
    margin-top: 10px;
   line-height: 30px;
}
#prod{
    margin-top: 50px;
    margin-left:20px;
    display: grid;
    grid-auto-flow: row;
    height: 100px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    grid-gap: 7px 7px;
}
#prod>div{
    margin-top: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        width: 200px;
        padding: 5px;
        margin-left: -2px;
        justify-items: center;
}
#item{
    margin-top: -750px;
    margin-left: 350px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    line-height: 15px;
    
}
select{
    width: 200px;
    margin: 10px;
    font-weight: bold;
    border: none;
}
#fragranceBody:hover{
    cursor: pointer;
    text-decoration: underline;
}
div{
    white-space: inherit;
}
#prod>div>img{
    float: right;
    margin-top: -38px;
    white-space: normal;
}
.bimg{
    height: 30px;
    width: 30px;
}