
*{
      font-family: Helvetica;
      margin: 0;
  }
  #form{
    display: flexbox;
    width: 30%;
    margin: auto;
   
  }
  p{
      font-size: 14px;
  }
  #h{
    margin-top: 30px;
      text-align: center;
  }
  #im{
      height: 50px;
      width: 35%;
  }
  #im1{
    height: 20px;
    width: 20px;
    float: left;
    margin-top: -11px;
    margin-right: 10px;
  }
  #name{
border-radius: 5px;
height: 25px;
width: 43%;
padding: 10px;
margin-bottom: 20px;
border-width: 1px;
border-color: gray;
}
#Lname{
border-radius: 5px;
height: 25px;
width: 43%;
padding: 10px;
margin-bottom: 20px;
border-width: 1px;
border-color: gray;
margin-left: 10px;

}
.epp{
border-radius: 5px;
height: 25px;
width: 94%;
padding: 10px;
margin-bottom: 20px;
border-width: 1px;
border-color: gray;
}
#s1{
border-radius: 5px;
height: 43px;
width: 48%;
padding: 10px;
margin-bottom: 20px;
border-width: 1px;
border-color: gray;
}
#s2{
border-radius: 5px;
height: 43px;
width: 48%;
padding: 10px;
margin-bottom: 20px;
border-width: 1px;
border-color: gray;
margin-left: 14px;
}

#DOB{
  margin-top: 20px;
  display: flex;
  width: 100%;
}
#hb{
  margin-top: -10px;
}
.regBtn{
  margin-top: 30px;
 border-radius: 30px;
 width: 210px;
 height: 45px;
 color: white;
 background-color: black;
 margin-top: 25px;
 margin-bottom: 20px;
 border: none;
}
.beautyP{
margin-top: 20px;
font-size: 12px;
width: 70%;
margin-bottom: 20px;
margin-top: -5px;
}
button:hover{
background-color: gray;
 cursor: pointer;
}